{% extends "base.html" %}
{% load static %}

{% block content %}

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio</h2>
        <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Portfolio</li>
        </ol>
    </div>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

    <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for category in categories %}
            <li data-filter=".filter-{{ category.name }}">{{ category.friendly_name }}</li>
            {% endfor %}
        </ul>
        </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up">

        {% for project in projects %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.category }}">
        <img src="{{ MEDIA_URL }}{{ project.image }}" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4>{{ project.name }}</h4>
            <p>{{ project.category.friendly_name }}</p>
            <a href="{{ MEDIA_URL }}{{ project.image }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ project.name }}"><i class="bx bx-plus"></i></a>
            {% if project.link %}
            <a href="{{ project.link }}" target="_blank" class="details-link" title="More Details" rel="noopener noreferrer"><i class="bx bx-link"></i></a>
            {% endif %}
        </div>
        </div>
        {% endfor %}

    </div>

    </div>
</section><!-- End Portfolio Section -->

</main><!-- End #main -->

{% endblock %}