{% extends "base.html" %}
{% load static %}

{% block content %}

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>FAQ</h2>
        <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
        <li>FAQ</li>
        </ol>
    </div>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

    <div class="row">

        <div class="col-lg-8 entries">
        {% for faq in faqs %}
        <article class="entry">

            <div class="entry-img">
            <img src="{{ MEDIA_URL }}{{ faq.image }}" alt="{{ faq.name }}" class="img-fluid">
            </div>

            <h2 class="entry-title">
            <a href="#">{{ faq.question }}</a>
            </h2>

            <div class="entry-meta">
            <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="{{ faq.date_created }}">{{ faq.date_created }}</time></a></li>
            </ul>
            </div>

            <div class="entry-content">
            <p>{{ faq.answer }}</p>
            </div>

        </article><!-- End blog entry -->
        {% endfor %}

        <div class="blog-pagination">
            <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            </ul>
        </div>

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

        <div class="sidebar">

            <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
            <form action="{% url 'faq' %}" method="GET">
                <input type="text" name="query">
                <button type="submit"><i class="bi bi-search"></i></button>
            </form>
            </div><!-- End sidebar search formn-->

            <h3 class="sidebar-title">Categories</h3>
            <div class="sidebar-item categories">
            <ul>
                {% for category, length in category_data %}
                <li><a href="{% url 'faq' %}?category={{ category.name }}">{{ category.friendly_name }} <span>({{ length }})</span></a></li>
                {% endfor %}
            </ul>
            </div><!-- End sidebar categories-->

            <h3 class="sidebar-title">Tags</h3>
            <div class="sidebar-item tags">
            <ul>
                {% for tag in tags %}
                <li><a href="{% url 'faq' %}?tags={{ tag.name }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
            </div><!-- End sidebar tags-->

        </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

    </div>

    </div>
</section><!-- End Blog Section -->

</main><!-- End #main -->

{% endblock %}