/* Header - Found in all pages, editable on templates/base.html */

.logo {
    height: 100px;
    width: 160px;
}

/* About - about/templates/about/about.html, team.html, testimonials.html */

.skills-content i {
    font-size: 50px;
    margin-right: 20px;
}

.fa-html5, .fa-git-alt {
    color: #e45128
}

.fa-css3-alt, .fa-python {
    color: #0c73b8
}

.fa-js {
    color: #e2a328
}

.fa-github, .fa-database {
    color: black;
}

.fa-bootstrap {
    color: rgb(71, 42, 71);
}

.member-img {
    aspect-ratio: 1 / 1;
}

/* Contact - contact/templates/contact/contact.html */

.checkmark {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both, stroke-change forwards;
    position:relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards, fill-change 2s forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

@keyframes fill-change {
    100% {
        fill: #4bb71b;
    }
}

@keyframes stroke-change {
    100% {
        stroke: #fff;
    }
}

/* Allauth - templates/allauth/account or socialaccount */

.accounts-section .info-wrap {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 30px;
}

.accounts-section input[type=text],
.accounts-section input[type=password],
.accounts-section input[type=email] {
    margin: 0 auto;
    height: 44px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    width: 83%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    background-color: #00bbe4;
    border-color: #00bbe4;
}

.btn-primary:hover {
    background-color: #018baa;
    border-color: #018baa;
}

/* Profile Section - profiles/templates/profiles/me.html */

.profile-section .info-wrap {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 30px;
}

.profile-section .info-wrap p {
    margin-left: 7%;
}

/* Projects Section - projects/templates/projects/projects.html */

.progress-bar {
    height: 10px;
    transition: 0.9s;
    background-color: #1bbd36 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
}

.faq .faq-list a {
    padding: 0px;
}

.project-details-button {
    width: 25%;
    padding: 6px 12px !important;
}

/* Toasts - templates/includes/toasts */

.message-container {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.btn-close {
    margin-left: 15rem !important;
}

/* Media Queries */

@media (max-width: 1400px) {
    .accounts-section input[type=text],
    .accounts-section input[type=password],
    .accounts-section input[type=email] {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .faq-sidebar {
        margin-left: 0px !important;
    }
}

@media (max-width: 768px) {
    .project-details-button {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .clients .client-logo img {
        width: 100% !important;
    }
}

@media (max-width: 390px) {
    .profile-section .info-wrap p {
        margin-left: 0%;
    } 
}

@media (max-width: 374px) {
    .message-container {
        top: 5px;
        right: 5px;
    }
}