/* Header - Found in all pages, editable on templates/base.html */

.logo {
    height: 100px;
    width: 160px;
}

/* About - about/templates/about/about.html, team.html, testimonials.html */

.skills-content i {
    font-size: 50px;
    margin-right: 20px;
}

.fa-html5, .fa-git-alt {
    color: #e45128
}

.fa-css3-alt, .fa-python {
    color: #0c73b8
}

.fa-js {
    color: #e2a328
}

.fa-github, .fa-database {
    color: black;
}

.fa-bootstrap {
    color: rgb(71, 42, 71);
}

.member-img {
    aspect-ratio: 1 / 1;
}

/* Contact - contact/templates/contact/contact.html */

.checkmark {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both, stroke-change forwards;
    position:relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards, fill-change 2s forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

@keyframes fill-change {
    100% {
        fill: #4bb71b;
    }
}

@keyframes stroke-change {
    100% {
        stroke: #fff;
    }
}

/* Media Queries */

@media (max-width: 991px) {
    .faq-sidebar {
        margin-left: 0px !important;
    }
}

@media (max-width: 500px) {
    .clients .client-logo img {
        width: 100% !important;
    }
}