{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Password Reset From Key</h2>
        <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'account_login' %}">Login</a></li>
        <li>Password Reset From Key</li>
        </ol>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

    <section class="section accounts-section">
      <div class="container">
        <div class="row mb-4 justify-content-center">
          <div class="col-md-6" data-aos="fade-up">
            <div class="info-wrap">
              <h2 class="logo-font text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

              {% if token_fail %}
                  {% url 'account_reset_password' as passwd_reset_url %}
                  <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
              {% else %}
                  {% if form %}
                      <form method="POST" action="{{ action_url }}">
                          {% csrf_token %}
                          {% for field in form %}
                          <div class="wrapper mt-3">
                            {{ field }}
                          </div>
                          {% endfor %}
                          <div class="wrapper mt-3 text-center">
                            <a class="btn btn-secondary login-button" href="{% url 'account_login' %}"><i class="fa-solid fa-arrow-left-long"></i> Back to Login</a>
                            <button class="btn btn-primary login-button" type="submit" name="action">Change Password <i class="fa-solid fa-arrow-right-long"></i></button>
                          </div>
                      </form>
                  {% else %}
                      <p>{% trans 'Your password is now changed.' %}</p>
                  {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}
