{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<main id="main">

    <section class="section accounts-section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
    
            <h2 class="logo-font mb-4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="wrapper">
                          {{ field }}
                          <div class="validation">*</div>
                        </div>
                        {% endfor %}
                        <a class="btn btn-secondary login-button" href="{% url 'account_login' %}">Back to Login</a>
                        <button class="btn btn-primary login-button" type="submit" name="action">Change Password</button>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}

          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}
