{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<main id="main">

    <section class="section accounts-section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
    
            <h2 class="logo-font mb-4">{% trans "Set Password" %}</h2>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {% for field in form %}
                <div class="wrapper">
                  {{ field }}
                  <div class="validation">*</div>
                </div>
                {% endfor %}
                <input class="btn btn-primary login-button" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>

          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}
