{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<main id="main">

    <section class="section accounts-section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
    
            <h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
            

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
              {% csrf_token %}
              {% for field in form %}
              <div class="wrapper">
                {{ field }}
                <div class="validation">*</div>
              </div>
              {% endfor %}
              <a class="btn btn-primary login-button" href="{% url 'account_login' %}">Back to Login</a>
              <button class="btn btn-success login-button" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        
          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}
