{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}

<main id="main">

    <section class="section accounts-section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
    
            <h2 class="logo-font mb-4">{% trans "Password Reset" %}</h2>
            
            
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}
