{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}

<main id="main">

    <section class="section accounts-section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">

            <h2 class="logo-font mb-4">{% trans "Password Reset" %}</h2>
        
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% for field in form %}
                <div class="wrapper">
                  {{ field }}
                  <div class="validation">*</div>
                </div>
                {% endfor %}
                <a class="btn btn-secondary login-button" href="{% url 'account_login' %}">Back to Login</a>
                <button class="btn btn-primary login-button" type="submit" value="{% trans 'Reset My Password' %}">Reset My Password</button>
            </form>

            <p class="reset-trouble">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}
