{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Register</h2>
        <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Register</li>
        </ol>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="section accounts-section">
    <div class="container">
      <div class="row mb-4 align-items-center">
        <div class="col-md-6" data-aos="fade-up">

          <h2 class="logo-font mb-4">{% trans "Sign Up" %}</h2>

          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% for field in form %}
              <div class="wrapper">
                {{ field }}
                <div class="validation">*</div>
              </div>
            {% endfor %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="btn btn-secondary login-button" href="{% url 'account_login' %}">Back to Login</a>
            <button class="btn btn-primary login-button" type="submit">{% trans "Sign Up" %}</button>
          </form>
        
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}
