{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Verify Your Email</h2>
        <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'account_login' %}">Login</a></li>
        <li>Verify Your Email</li>
        </ol>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

    <section class="section accounts-section">
      <div class="container">
        <div class="row mb-4 justify-content-center">
          <div class="col-md-6" data-aos="fade-up">
            <div class="info-wrap">
              <h2 class="logo-font mb-4">{% trans "Verify Your E-mail Address" %}</h2>

              {% url 'account_email' as email_url %}

              <p>{% blocktrans %}This part of the site requires us to verify that
              you are who you claim to be. For this purpose, we require that you
              verify ownership of your e-mail address. {% endblocktrans %}</p>

              <p>{% blocktrans %}We have sent an e-mail to you for
              verification. Please click on the link inside this e-mail. Please
              contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

              <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}
