{% extends "base.html" %}
{% load static %}

{% block content %}

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>About</h2>
        <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>About</li>
        </ol>
    </div>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
    
    <div class="container" data-aos="fade-up">

    <div class="row content">
        <div class="col-lg-6" data-aos="fade-right">
        <h2>{{ about_content.title }}</h2>
        <h3>{{ about_content.heading }}</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
        <p>
            {{ about_content.paragraph }}
        </p>
        <ul>
            {% if about_content.bullet_one %}
            <li><i class="ri-check-double-line"></i> {{ about_content.bullet_one }}</li>
            {% endif %}
            {% if about_content.bullet_two %}
            <li><i class="ri-check-double-line"></i> {{ about_content.bullet_two }}</li>
            {% endif %}
            {% if about_content.bullet_three %}
            <li><i class="ri-check-double-line"></i> {{ about_content.bullet_three }}</li>
            {% endif %}
        </ul>
        </div>
    </div>

    </div>

</section><!-- End About Us Section -->

<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

    <div class="section-title" data-aos="fade-up">
        <h2>Our <strong>Team</strong></h2>
        <p>{{ team_content.team_content_blurb }}</p>
    </div>

    <div class="row justify-content-center align-items-center">

        {% for member in members %}

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
            <div class="member-img">
            {% if member.image %}
            <img src="{{ MEDIA_URL }}{{ member.image }}" class="img-fluid" alt="{{ member.name }} Portrait Picture">
            {% else %}
            <img src="{{ MEDIA_URL }}noimage.webp" class="img-fluid" alt="{{ member.name }} Portrait Picture">
            {% endif %}
            {% if member.twitter or member.facebook or member.instagram or member.linkedin %}
            <div class="social">
                {% if member.twitter %}
                <a href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>
                {% endif %}
                {% if member.facebook %}
                <a href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>
                {% endif %}
                {% if member.instagram %}
                <a href="{{ member.instagram }}"><i class="bi bi-instagram"></i></a>
                {% endif %}
                {% if member.linkedin %}
                <a href="{{ member.linkedin }}"><i class="bi bi-linkedin"></i></a>
                {% endif %}
            </div>
            {% endif %}
            </div>
            <div class="member-info">
            <h4>{{ member.name }}</h4>
            <span>{{ member.title }}</span>
            </div>
        </div>
        </div>

        {% endfor %}

    </div>

    </div>
</section><!-- End Our Team Section -->

<!-- ======= Our Skills Section ======= -->
<section id="skills" class="skills">
    <div class="container">

    <div class="section-title" data-aos="fade-up">
        <h2>Our <strong>Skills</strong></h2>
        <p>{{ skills_content.skills_content_blurb }}</p>
    </div>

    <div class="row skills-content text-center">
        <div class="col">
            {% for skill in skills %}
                <i class="{{ skill.skill }} mt-2" data-aos="fade-up"></i>
            {% endfor %}
        </div>
    </div>

    </div>
</section><!-- End Our Skills Section -->

<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Clients</h2>
    </div>

    <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

        {% for client in clients %}
        <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
            <img src="{{ MEDIA_URL }}{{ client.client }}" class="img-fluid" alt="{{ client.name }}">
        </div>
        </div>
        {% endfor %}

    </div>

    </div>
</section><!-- End Our Clients Section -->

</main><!-- End #main -->

{% endblock %}