{% extends "base.html" %}

{% block content %}

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Services</h2>
        <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Services</li>
        </ol>
    </div>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

    <div class="row">
        {% for service in services %}
        {% if forloop.counter == 1 %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box iconbox-{{ service.icon_color }}">
            <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="{{ service.svg_path }}"></path>
            </svg>
            <i class="bx {{ service.icon_class }}"></i>
            </div>
            <h4>{{ service.name }}</h4>
            <p>{{ service.description }}</p>
        </div>
        </div>
        {% else %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box iconbox-{{ service.icon_color }}">
            <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="{{ service.svg_path }}"></path>
            </svg>
            <i class="bx {{ service.icon_class }}"></i>
            </div>
            <h4>{{ service.name }}</h4>
            <p>{{ service.description }}</p>
        </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Features</h2>
            <p>{{ feature_content.features_description }}</p>
        </div>

        <div class="row">
            {% for feature in features %}
            {% if forloop.counter == 1 %}
            <div class="col-lg-3 col-md-4">
            <div class="icon-box">
                <i class="{{ feature.icon_class }}" style="color: {{ feature.icon_color }};"></i>
                <h3><a>{{ feature.name }}</a></h3>
            </div>
            </div>
            {% elif forloop.counter == 2 or forloop.counter == 3 %}
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
                <i class="{{ feature.icon_class }}" style="color: {{ feature.icon_color }};"></i>
                <h3><a>{{ feature.name }}</a></h3>
            </div>
            </div>
            {% elif forloop.counter == 4 %}
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
                <i class="{{ feature.icon_class }}" style="color: {{ feature.icon_color }};"></i>
                <h3><a>{{ feature.name }}</a></h3>
            </div>
            </div>
            {% else %}
            <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
                <i class="{{ feature.icon_class }}" style="color: {{ feature.icon_color }};"></i>
                <h3><a>{{ feature.name }}</a></h3>
            </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section><!-- End Features Section -->

</main><!-- End #main -->

{% endblock %}